@font-face {
	font-family: Nunito;
	src: url('../fonts/Nunito-Bold.ttf');
	font-weight: 800;
}

@font-face {
	font-family: Nunito;
	src: url('../fonts/Nunito-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: Nunito;
	src: url('../fonts/Nunito-Medium.ttf');
	font-weight: 400;
}
